<div class="well">
  <h3>Welcome to Gloom</h3>

  <h4>Instructions</h4>
  <ol>
	  <li><b>Control:</b> click on Control Room.  When Marines use Hackswitches, solve Challenges to let them proceed.</li>
	  <li><b>Marines:</b> use the <i>[repo]/scripts/arganium-client.sh</i> script to launch the game and connect. Find Hackswitches, kill monsters, and be mindful of your one life each!</li>
	  <li>At the game's conclusion click on <b>Scoreboard</b> to see your final scores.</li>
  </ol>
</div>
