// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-container {
        color: #FFFFFF;
        background-color: rgba(0, 0, 0, 0.5);
}
.sidebar {
        color: #FFFFFF;
        background-color: rgba(0, 0, 0, 0.5);
}
.modal-dialog {
        color: #000000;
        background-color: rgba(192, 192, 192, 0.3);
        border-radius: 25px;
        text-align: left;
        margin: auto;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        right: 0;
}

